parcial3-SOAP/src/main/webapp/wsdl/tiposerviciosws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TipoServiciosWSService" targetNamespace="http://ws.das.ubp.edu.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.das.ubp.edu.ar/" version="1.0" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getTipoServicios" type="tns:getTipoServicios"/>

  <xs:element name="getTipoServiciosResponse" type="tns:getTipoServiciosResponse"/>

  <xs:complexType name="getTipoServicios">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getTipoServiciosResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoServiciosBean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tipoServiciosBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codTipoServicio" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoServicio" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getTipoServiciosResponse">
    <wsdl:part name="parameters" element="tns:getTipoServiciosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTipoServicios">
    <wsdl:part name="parameters" element="tns:getTipoServicios">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TipoServiciosWS">
    <wsdl:operation name="getTipoServicios">
      <wsdl:input name="getTipoServicios" message="tns:getTipoServicios">
    </wsdl:input>
      <wsdl:output name="getTipoServiciosResponse" message="tns:getTipoServiciosResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TipoServiciosWSServiceSoapBinding" type="tns:TipoServiciosWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTipoServicios">
      <soap:operation soapAction="urn:getTipoServicios" style="document"/>
      <wsdl:input name="getTipoServicios">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTipoServiciosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipoServiciosWSService">
    <wsdl:port name="TipoServiciosWSPort" binding="tns:TipoServiciosWSServiceSoapBinding">
      <soap:address location="http://localhost:8080/parcial3-SOAP/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
